{% assign block_settings = block.settings %}
<div
  class="
    footer-utilities__group-disclaimer
    custom-typography
    footer-utilities__text
    {% if block_settings.font_size != "" %}custom-font-size{% endif %}
  "
  style="{% render 'typography-style', preset: 'custom', settings: block_settings %}"
  {{ block.shopify_attributes }}
>
  <span class="footer-utilities__text footer-disclaimer">
    {{ block_settings.disclaimer_text | default: '* NO PURCHASE NECESSARY TO ENTER OR WIN. A PURCHASE WILL NOT INCREASE YOUR CHANCES OF WINNING. Open to legal residents of the 50 United States, the District of Columbia and Canada. Void in Puerto Rico and US territories and where prohibited by law. Odds of winning depend upon the number of eligible purchase and non-purchase entries received.' }}
  </span>
</div>

{% schema %}
{
  "name": "t:names.disclaimer",
  "tag": null,
  "settings": [
    {
      "type": "textarea",
      "id": "disclaimer_text",
      "label": "Disclaimer text",
      "default": "* NO PURCHASE NECESSARY TO ENTER OR WIN. A PURCHASE WILL NOT INCREASE YOUR CHANCES OF WINNING. Open to legal residents of the 50 United States, the District of Columbia and Canada. Void in Puerto Rico and US territories and where prohibited by law. Odds of winning depend upon the number of eligible purchase and non-purchase entries received."
    },
    {
      "type": "select",
      "id": "font_size",
      "label": "t:settings.size",
      "options": [
        {
          "value": "0.625rem",
          "label": "10px"
        },
        {
          "value": "0.75rem",
          "label": "12px"
        },
        {
          "value": "0.875rem",
          "label": "14px"
        },
        {
          "value": "1rem",
          "label": "16px"
        },
        {
          "value": "1.125rem",
          "label": "18px"
        }
      ],
      "default": "0.75rem"
    },
    {
      "type": "select",
      "id": "case",
      "label": "t:settings.case",
      "options": [
        {
          "value": "none",
          "label": "t:options.default"
        },
        {
          "value": "uppercase",
          "label": "t:options.uppercase"
        }
      ],
      "default": "none"
    }
  ],
  "presets": [
    {
      "name": "t:names.disclaimer",
      "category": "t:categories.footer"
    }
  ]
}
{% endschema %}

